button:hover{
    box-shadow:0 0 20px #E41B17;
    background-color:white;
    color:tomato;
}
button:active{
    transform:translateY(4px);
}
.main-section{

    text-align: center;
}
#girl-section,#boy-section,#couple-section{
    background-color: #93FFE8;
}
.hidden{
    display: none;
}
.image-container{
    display: flex;
    text-align: center;
    justify-content: space-around;
    background-color: #93FFE8;
 
}
#girlgold,#girlsilver,#girlplatinum,#boygold,#boysilver,#boyplatinum,#couplegold,#couplesilver,#coupleplatinum{
    background-image: url('images/jewellery2.png');
    word-wrap: break-word; 
    justify-content: space-between;
    margin-right: 10px;
    height: 100vh;
    width: 100vw;
}
h2{
    text-align: center;
}

button{

    text-align: center;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    border-radius:20px 20px 20px 20px;
}