
h1{
    background-color: rgb(127, 255, 170);
    margin-bottom: 0 ; 
    border-bottom: 1px;
    text-align: center;
    padding: 10px;
    font-size: smaller;
    overflow-x: hidden;
}
@media (min-width:600px) {
    ul{
        float: left;
        margin-right: 5px;
        padding: 0 5px 0 5px;
    } 
     ul li{
        list-style-type: none;
        margin-top: 10px;
        text-align: center;
        text-decoration: none;
       
    }
    
    #male,#female,#couple{
        margin: 10px;
        border-radius: 5px;
        width: 370px;
        height: 370px;
    }
    #male:hover,#female:hover,#couple:hover{
        margin: 5px;
        border-radius: 5px;
        width: 380px;
        height: 380px;
        box-shadow: 0 0  15px rgb(5, 72, 5);
    }
    .images{
        width: 340px;
        height: 340px;
        margin-top: 20%;
        margin-right: 10px;
        margin-left: 30px;
        border-radius: 5px;
        border: 2px solid rgb(74, 72, 72);
    }   
    .images:hover{
        width: 350px;
        height: 350px;
        border-radius: 5px;
        border: 2px solid rgb(74, 72, 72);
    }
    #girl-section {
        background-image: url('imagess/background7.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        filter: none; 
        backdrop-filter: none;
        background-position: center;
        height: 100vh; 
        width: 100%;
    }
    .button {
        
        font-size: 20px;
        border-radius: 5px;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 20px;
        border: none;
        cursor: pointer;
    }
    .girlgolds{
        width: 220px;
        height: 220px;
        border-radius: 5px;
        margin-left: 25px;

    }
    h2{
        text-align: center;
        margin-top: 10px;
    }
    .ornaments{
        display: flex;
        flex-wrap: wrap;
      border-bottom: 0.5px dotted rgba(0,0,0,0.3);

    }
    .ornaments .other{
        width: 300px;
        height: 300px;
        border-radius: 10px;
        margin-left: 40px;
    }
    .slideshow-container {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        position: relative;
    }
    
    .slide {
        width: 97.5%;
        height: 90%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }
    
    /* Show only the first image initially */
    .slide:first-child {
        opacity: 1;
    }
    
}
@media (max-width:599px){
    #main-section img{
        width: 300px;
        height: 300px;
        border-radius: 5px;
    }
    ul li{
        list-style-type: none;
        margin-top: 10px;
        align-items: center;
        text-align: center;
        text-decoration: none;
    }
    .images{
        width: 300px;
        height: 300px;
        margin-right: 5px;
        border-radius: 5px;
        border: 2px solid rgb(74, 72, 72);
    }  
    
}
.hidden{
    display: none;
}


